
<html>
  <head>
      <title>TamilMetaphors</title>
      <link href="{{ url_for('static', filename='CSS/style.css') }}" rel="stylesheet" />
  </head>

  <body>
    <div class="parent">
      <div class="container">
        <div >
          <form action="http://127.0.0.1:5000/search-meaning" method="post" >
            <fieldset style="margin: 30px;">
              <legend><h2> Type a Metaphor to Search Here...</h2></legend>
              <div class="inner-form">
                <div class="input-field" >
                  <input class="form-control" id="search" type="text" placeholder="Type here..." name="queryName"/>
                  <button type="search" class="btn btn-primary" >Search</button>
              </div>
            </fieldset>
          </form>
        </div>

        <div>
          <form action="http://127.0.0.1:5000/search-metaphors" method="post">
            <fieldset style="margin: 30px;">
              <legend><h2>Find Metaphors....</h2></legend>
                <div >
                  <div class="input-field" >
                    <label for="sourceDom" class="label">Source Domain: </label>
                    <input type="text" class="form-control" id="sourceDom" name="sourceDom">
                  </div>
                  <div class="input-field" >
                    <label for="inputTarget" class="label">Target Domain: </label>
                    <input type="text" class="form-control" id="inputTarget" name="inputTarget">
                  </div>              
                </div>
                  <div class="input-field">
                    <label for="inputType" class="label">Type of Metaphor: </label>
                    <select id="inputType" class="form-control" name="inputType">
                      <option selected>Choose...</option>
                      <option>அழகு</option>
                      <option>குணம்</option>
                      <option>உணர்ச்சி</option>
                      <option>பயன்</option>
                      <option>தொழில்</option>
                      <option>வாழ்வியல் நடைமுறை</option>
                    </select>
                  </div>
                <button type="search" class="btn btn-primary" style="margin: 20px 30px 30px 30px; height: 40px;">Search Metaphors</button>
                </fieldset>
              </form>
        </div>
      </div>
    </div>
  </body>
</html>